<div class="col-4 mx-auto my-2 py-2 border border-primary text-primary text-center">
  Programming languages
</div>
<div class="row">
<div class="offset-1">
  <mat-card class="topic-card"> 
    <mat-card-content>  
        <a routerLink="../quiz" (click)="selectQuiz('C')">
          <img mat-card-image class="card-img-top img-responsive" src="/assets/images/C logo.png" alt="C">
          <div class="text-center">
            <button mat-raised-button color="primary">Take quiz</button>
          </div>
        </a>
    </mat-card-content>
  </mat-card>
</div>
<div class="ml-3">
  <mat-card class="topic-card"> 
    <mat-card-content>
      <a routerLink="../quiz" (click)="selectQuiz('C++')">  
        <img mat-card-image class="card-img-top img-responsive" src="/assets/images/C plus plus logo.png" alt="C">
        <div style="text-align:center">
          <button mat-raised-button color="primary">Take quiz</button>
        </div>
      </a>
    </mat-card-content>
  </mat-card>
</div>
<div class="ml-3">
  <mat-card class="topic-card"> 
    <mat-card-content>  
        <a routerLink="../quiz" (click)="selectQuiz('C sharp')">
          <img mat-card-image class="card-img-top img-responsive" src="/assets/images/C sharp logo.jpg" alt="C sharp">
          <div style="text-align:center">
            <button mat-raised-button color="primary">Take quiz</button>
          </div>
        </a>
    </mat-card-content>
  </mat-card>
</div>
<div class="ml-3">
  <mat-card class="topic-card"> 
    <mat-card-content>
        <a routerLink="../quiz" (click)="selectQuiz('Java')">  
          <img mat-card-image class="card-img-top img-responsive" src="/assets/images/Java logo.png" alt="Java">
          <div style="text-align:center">
            <button mat-raised-button color="primary">Take quiz</button>
          </div>
        </a>
    </mat-card-content>
  </mat-card>
</div>
</div>
<br>
<div class="col-4 mx-auto my-2 py-2 border border-primary text-primary text-center">
    Web Technologies
</div>
<div class="row">
  <div class="offset-1">
    <mat-card class="topic-card"> 
      <mat-card-content>  
          <a routerLink="../quiz" (click)="selectQuiz('HTML')">
            <img mat-card-image class="card-img-top img-responsive" src="/assets/images/HTML logo.png" alt="HTML">
            <div class="text-center">
              <button mat-raised-button color="primary">Take quiz</button>
            </div>
          </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="ml-3">
    <mat-card class="topic-card"> 
      <mat-card-content>
        <a routerLink="../quiz" (click)="selectQuiz('JavaScript')">  
          <img mat-card-image class="card-img-top img-responsive" src="/assets/images/JavaScript logo.png" alt="JavaScript">
          <div style="text-align:center">
            <button mat-raised-button color="primary">Take quiz</button>
          </div>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="ml-3">
    <mat-card class="topic-card"> 
      <mat-card-content>  
          <a routerLink="../quiz" (click)="selectQuiz('Bootstrap')">
            <img mat-card-image class="card-img-top img-responsive" src="/assets/images/Bootstrap logo.png" alt="Bootstrap">
            <div style="text-align:center">
              <button mat-raised-button color="primary">Take quiz</button>
            </div>
          </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="ml-3">
    <mat-card class="topic-card"> 
      <mat-card-content>
          <a routerLink="../quiz" (click)="selectQuiz('Angular')">  
            <img mat-card-image class="card-img-top img-responsive" src="/assets/images/Angular logo.png" alt="Angular">
            <div style="text-align:center">
              <button mat-raised-button color="primary">Take quiz</button>
            </div>
          </a>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
<br>
